:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: $text-color;
  background-color: #dddddd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
}

.background {
  border-radius: $border-radius;
  // border: $border-width solid $border-color;

  outline: $border-width;
  outline-color: $border-color;
  outline-style: solid;

  background-color: $background-color;
}