$background-frame-color: var(--background-frame-color);
$background-color: var(--background-color);
$background-color-hover: var(--background-color-hover);

$text-color: var(--text-color);

$border-radius: 12px;
$border-width: 1px;
$border-color: var(--border-color);

$skeleton-first-color: var(--skeleton-first-color);
$skeleton-second-color: var(--skeleton-second-color);
$skeleton-third-color: var(--skeleton-third-color);

$accent-color: #FA7272;